// Custom design color primary
$primary-blue: #42b2fc;
$primary-blue-dark: #007dd0;
$primary-blue-medium: #1494ea;
$primary-blue-medium-soft: #b3e0ff;
$primary-blue-soft: #c2e7f62c;
$primary-blue-lightest: #e8f4ff;
// Custom design colors secondary
$secondary-grey: #6b738a;
$secondary-grey-dark: #464a59;
$secondary-grey-soft: #999999;
$secondary-grey-lightest: #cacacac6;
$secondary-yellow: #fba62d;
$secondary-yellow-dark: #e88d0d;
$secondary-yellow-lightest: #fab75a;
$secondary-purple: #935fd2;
$secondary-purple-dark: #764baa;
$secondary-purple-lightest: #cfbaf0;
// Others colors
$other-green: #38b000;
$other-green-dark: #4daa4b;
$other-green-medium-soft: #9df191;
$other-green-soft: #c0f0ba;
$other-orange: #eb631e;
$other-orange-dark: #cf4905;
$other-orange-soft: #f69259;
$other-beige: #ffecd1;
// Table fraction colors
$table-denominator: #fff8bf;
$table-numerator: #42b2fcd9;
$table-border-success: #2eba3a;
$table-border-success-soft: #2eba3a5d;
$table-border-error: #e92d2d;
$table-border-error-soft:#e92d2d5f;
