// Custom design color primary
$primary-blue: #42b2fc;
$primary-blue-dark: #007dd0;
$primary-blue-medium: #1494ea;
$primary-blue-lightest: #e8f4ff;
// Custom design colors secondary
$secondary-grey: #6b738a;
$secondary-grey-dark: #464a59;
$secondary-grey-lightest: #a6b1d4;
$secondary-yellow: #fba62d;
$secondary-yellow-dark: #e88d0d;
$secondary-yellow-lightest: #fab75a;
// Others colors
$other-green: #82ce43;
$other-green-soft: #daff7d;
$other-orange: #eb631e;
$other-orange-soft: #f69259;
$other-beige: #ffecd1;